<div class="container">
  <div class="header">
    <div class="header-content">
      <div class="foto">
        <img src="assets/perfil.png" width="100%">
      </div>
      <div class="title">
        <p class="name">Iglesias, Marcelo A.</p>
        <p class="subtitle">Frontend Developer</p>
      </div>
      <div class="icon-theme">
        <img src="assets/color-mode.svg" width="100%">
      </div>
    </div>
    <div class="header-divisor">
    </div>
  </div>
  <div class="body">
    <div class="body-about-me">
      <div class="body-about-me-info" style="background-color: #c2c2c2;">
        
      </div>
      <div class="body-about-me-experience" style="background-color: #c2c2c2;">
        
      </div>
    </div>
    <div class="body-projects">
      <div class="body-projects-view" style="background-color: #c2c2c2;">
        
      </div>
      <div class="body-projects-more" style="background-color: #c2c2c2;">
        
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-divisor">
    </div>
    <div class="footer-content">
      <div class="footer-contact" style="background-color: #c2c2c2;">

      </div>
      <div class="footer-redes" style="background-color: #c2c2c2;">
      </div>
    </div>
  </div>
</div>